@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Poppins:wght@400;600&display=swap');
@media (max-width: 667px){


    .container .first-article{
        grid-template-columns: repeat(1, 1fr);
       padding: 10px;
        justify-content: center;
        height: fit-content;
        font-size: -3em;
    }
   
    .left-items .article-header{
        font-size: 30px;
        padding: 10px;
        line-height: 40px;
        text-align: center;
    }
      
    .left-items{
        align-items: center;
    }
    .article-left{
        width: 350px;
    }
    .article-left p{
        font-size: 10px;
        text-align: center;
    }
    .article-right img{
        margin: 0;
        height: 250px;
        
    }
    .prebook-btn{
        padding: 10px 20px;
       height: 40px;
       white-space: nowrap;
       width: 80px;
       text-align: center;

    }
    .article-right{
        align-items: center;
    }
    .page-title{
        padding: 10px;
  font-size: 20px;
        white-space: nowrap;
    }
    .popular .product{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .gallery .photos{
    
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .gallery{
        margin-top: 5px;
        margin-bottom: 10px;
    }
 
}
@media only screen and (max-width: 1024px) and (min-width: 690px){
    .container .first-article{
       justify-content: center;
    }
    .popular .product{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .gallery .photos{
    
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

    }
}

*{
    margin: 0;
    padding: 0;

}

/* ===========
first section 
========== */

.container{
    max-width: 1200px;
   margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 800;
    
}
header{
    margin-bottom: 40px;
    margin-top: 20px;
}

.first-article{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: 0 auto;
}
    

.left-items{
    display: flex;
    flex-direction: column;
    
    
}
.article-left{
    flex: 1;
    align-items: center;
    
   
}
.article-right{
    flex: 1;
    justify-content: center;
   
 
}
.article-right img{
    max-height: 400px;
    max-width: 400px;
    
}
.article-header{
    
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
}
.article-left p{
    margin: 10px 0;
    
}
.prebook-btn{
    width: 30%;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #E02C6D;
    color: white;
    border: none;
}


.fas.fa-long-arrow-alt-right{
    font-size: 15px;
}

/* ===========
second section 
========== */
.popular{
    margin-top: 40px;
}
.popular h1{
    text-align: center;
    margin-bottom: 40px;
}
.product{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    grid-column-gap: 30px;
   
}
.product-details{
    
    display: flex;
    flex-direction: column;
  padding: 10px 0 30px 15px;
    justify-content: center;
    border-radius: 5px;
   width: 320px;
   margin-bottom: 40px;
   box-shadow: -2px -2px 5px grey;
}
.product-details img{
    width: 300px;
    height: 256px;
}
.fas.fa-star{
    color: orange;
}
.product-details p{
    font-size: 15px;
}
.see-btn{
    width: 100px;
    margin: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #E02C6D;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    
}

/* =========
third section
========= */
.photos img{
    height: 300px;
    width: 300px;
}
.photos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
 .gallery{
     margin-top: 80px;
     margin-bottom: 40px;
 }   
.gallery h1{
    text-align: center;
    margin-bottom: 40px;
}
.photos .image:hover img{
    transform: scale(1.1);
    transition: 1s;
}
.image:hover .details h1{
    display: block;
    background-color: rgba(134, 127, 127, 0.699);
    color: white;
    position: absolute;
    bottom: 120px;

}
.photo-details{
    
    width: 330px;
}
.details h1{
    position: relative;
width: 318px;
display: none;
}